/* цвет основого текста #757575 */
/* заголовок #212121*/
/* вторичный цвет текста rgba(255, 255, 255, 0.6)*/
/* акцент #2196F3 */
/* белый #FFFFFF /*
/* background #2F303A (black) ,#E5E5E5 (white), #F5F4FA (blue) */

:root {
    --primery-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primery-white-color: #FFFFFF;
    --secondary-text-color: rgba(255, 255, 255, 0.6);
    --background-color: #2F303A;
    --background-color-button: #F5F4FA;

    /* var */
}

body {
    background-color: var(--primery-white-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
   }

ul {
    list-style: none; 
 }

img {
   display: block;
   width: 100%;
   height: auto;
}


.container, 
.main-container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1170px;
 }

/* Портфолио */
.flex-title {
   display: none;
}
 .flex-container {
   display: flex;
   flex-wrap: wrap;
   padding-bottom: 94px;
 }

 .flex-list {
    padding-left: 0;
 }
 .flex-element {
   margin-right: 30px;
   margin-bottom: 30px;
   width: calc((100% - 30px * 2) / 3);
  /* outline: 2px solid tomato; */
 }

 .flex-element:nth-child(3n){
   margin-right: 0;
 }

 .flex-element:nth-last-child(-n + 3) {
   margin-bottom: 0;
 }
/* Button */

.button-list {
   display: flex;
   justify-content: center;
   margin-bottom: 50px;
   margin-top: 94px;
   padding-left: 0;
   
}
.button {
   padding: 10px 32px;
   background-color: #F5F4FA;
   border-radius: 4px;
   border: 1px solid transparent;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.6;
   text-align: center;
   letter-spacing: 0.03em;
   cursor: pointer;
   
}
.button:hover,
.button:focus {
   color: var(--primery-white-color);
   background-color: var(--accent-color);
}

.button-item {
   margin-right: 8px;
   
}

.button-item:nth-child(5n) {
   margin-right: 0;
}

/* Список */
.flex-image {
   display: block;
}
.flex-link {
   display: block;
   text-decoration: none;
   border: 1px solid #eeeeee;
}
.flex-link:hover {
   box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.flex-list {
   display: flex;
   flex-wrap: wrap;
   margin-bottom: 0;
   margin-top: 0;
}

/* Елементи */

.flex-element .content {
   background: #FFFFFF;
   padding-top: 20px;
   padding-bottom: 20px;
   padding-left: 24px;
   padding-right: 24px;
}


.flex-element .title {
    margin-top: 0;
    margin-bottom: 4px;
    color: var(--title-text-color);
    font-weight: bold;
    font-size: 18px;
    line-height: 2; 
 }

.flex-element .text {
   margin-top: 0;
   margin-bottom: 0;
   color: var(--primery-text-color);
   font-weight: normal;
   font-size: 16px;
   line-height: 1.87;
 } 